.deadPage {
    display: flex;
    flex-direction: column;
    height: 1000px;
    align-items: center;
    background-image: linear-gradient(rgb(0, 0, 0), rgb(227, 25, 25) 200%);
}

.deadPage .gameTitle {
    display: flex;
    background: #000000;
    font-size: large;
    justify-content: center;
    color: #c61d1d;
    font-family: Impact, fantasy;
    padding-top: 10px;
}

.deadMessage {
    padding: 20px 30px;
    font-size: 2rem;
    line-height: 1.5;
    color: #e4e4f1;
    position: fixed;
    top: 300px;
}